---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import About from "../components/About.astro";
import Education from "../components/Education.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Certificates from "../components/Certificates.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import i18next, { t, changeLanguage } from "i18next";
import SwitchLanguage from "../components/SwitchLanguage.astro";

//Setts correct path to toggle the translation correctly;
const isDeployed = true;
changeLanguage("en");
---

<Layout title="LeoRisco Web Resume">
	<main class = 'main' lang={i18next.language}>
		<SwitchLanguage isDeployed = {isDeployed} languagge = "en"/>
		<Hero />
		<About />
		<Skills />
		<Projects />
		<Experience />
		<Education />
		<Certificates />
		<KeyboardManager />
	</main>
</Layout>

<style>
	@font-face{
		font-family: "Kumbh Sans";
		src: url("/fonts/Tillana-Medium.ttf") format("truetype");
		font-style: normal;
		font-display: swap;
		font-weight: 700;
	}

	@font-face {
		font-family: "Work Sans";
		src: url("/fonts/WorkSans-Regular.ttf") format("truetype");
		font-style: normal;
		font-display: swap;
		font-weight: 500;
	}

	.main{
		width: 100vw;
		min-height: 100vh;
		min-width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		padding-top: 5vh;
		padding-bottom: 5vh;
		background-color: rgb(255, 255, 255);
	}
	*{
  max-width: 100vw;
  align-self: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
	
</style>
