---
import i18next, { t } from "i18next";
---

<section class = 'holeContainer' lang= {i18next.language}>
    <h1 class = 'title'>{t("about.title")}</h1>
    <p>{t("about.summary")}</p>

</section>

<style>
    .holeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 1000px;
    }
    p{
        text-align: justify;
    }
    .title{
        width: 100%;
        padding-bottom: 1vh;
        padding-top: 1vh;
        font-size: 20px;
        font-weight: 700;

    }

</style>