---
import {basics} from '@cv';
const { summary } = basics;
---

<section class = 'holeContainer'>
    <h1 class = 'title'>About</h1>
    <p>{summary}</p>

</section>

<style>
    .holeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
    p{
        text-align: justify;
    }
    .title{
        width: 100%;
        padding-bottom: 1vh;
        padding-top: 1vh;

    }

</style>