---
import { basics } from '@cv';
const { name, labelOne, labelTwo, image, email, phone, url, summary, location } = basics;
const { address, postalCode, city, countryCode, region } = location;
---
<section>
    <div class = 'container'>
        <div class = 'info'>
            <h1>{name}</h1>
            <h3>{labelOne}</h3>
            <h3>{labelTwo}</h3>
        </div>

    </div>
</section>