---
import i18next, { t } from "i18next";
var result = t("skills.skills", { returnObjects: true});
---

<section class = 'section'>
    <h1 class = 'title'>{t("skills.title")}</h1>
    <ul class = 'ul'>
        {result.map(({name, level, summary, keywords,}) => {
            return(
                <li class = 'li'>
                    <div class = 'info'>
                    <h4 class = 'name'>{name}</h4>
                    <p class = 'level'>{level}</p>
                </div>
                    <p class = 'summary'>{summary}</p>
                    <div class = 'divKeywords'>
                    {keywords.map((element) => <span class = 'keyword'>{element}</span>)}
                </div>
                </li>
            )
        })}
    </ul>

</section>

<style>
    .section{
        width: 90%;
        max-width: 1000px;
        height: auto;
        
    }
    .title{
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        padding-top: 1vh;

    }
    .ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        width: 100%;
        padding: 1vh 0vh 0vh 0vh
    }
    
    .li{
        width: 49%;
        height: 210px;
        border-radius: 4px;
        background-color: rgba(234, 234, 234, 0.79);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vh;
        box-shadow: 0px 0px 5px rgb(188, 188, 188);
    }
    @media print{
    .li{
        border-style: solid;
        border-color: black;
        border-width: 2px;

    }
    .keyword{
        border: 1px solid black;
        color: black !important;
        font-size: 11px !important;
    }
}
    .li:hover{
        background-color: rgba(255, 255, 255, 0.79);
        border-color: rgb(234, 234, 234);
        box-shadow: 0px 0px 3px black;
        transition: 0.3s;
        
    }
    .divKeywords{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
    .keyword{
        background-color: rgb(72, 72, 72);
        border-radius: 5px;
        padding: 4px;
        color: white;
        font-size: 10px;
        text-align: center;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .summary{
        text-align: justify;
        margin-bottom: 2vh;
        font-size: 12px;
    }
    .name{
        font-size: 17px;
        font-weight: 700;
    }
    .level{
        font-size: 14px;
        font-weight: 700;
    }
</style>