---
import i18next, { t, changeLanguage } from "i18next";
const { isDeployed } = Astro.props;
const { languagge } = Astro.props;

const buttonTitle = () => {
    if (languagge == "en"){
        return "Traducir"
    } else if ( languagge == "es"){
        return "Translate"
    }
}
const resultado = () => {
    let baseURL = null;
    if(isDeployed){
        baseURL = "https://leoriscodev.netlify.app/";
    switch (languagge){
        case "en":
            return baseURL + "es";
        case "es":
            return baseURL;
        default:
        return;
    };

}else {
        baseURL = "http://localhost:4321/";

        switch (languagge){
        case "en":
            return baseURL + "es";
        case "es":
            return baseURL;
        default:
        return;
    }
    }
}

---
<div class = "switchLanguageContainer">
        <a class = "switchLanguageAnchor" href = {resultado()}>
        {buttonTitle()}
        </a>
</div>
<style>
    .switchLanguageContainer{
        background-color: rgb(232, 232, 232);
        
        margin: 1vh;
        cursor: pointer;
        border-radius: 5px;
        border-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .switchLanguageAnchor{
        color: rgb(23, 23, 23);
        font-size: 13px;
        font-weight: 500;
        height: 100%;
        width: 100%;
        padding: 1.2vh;
        border-radius: 5px;
    }
    .switchLanguageAnchor:hover{
        transition: 0.2s;
        background-color: rgb(47, 47, 47);
        color:white;

    }

    @media print {
        .switchLanguageContainer{
            position: absolute;
            visibility: hidden;
        }
    }

</style>