---
import i18next, { t, changeLanguage } from "i18next";
const { isDeployed } = Astro.props;
const { languagge } = Astro.props;

const buttonTitle = () => {
    if (languagge == "en"){
        return "Traducir al Español"
    } else if ( languagge == "es"){
        return "Translate to English"
    }
}
const resultado = () => {
    let baseURL = null;
    if(isDeployed){
        baseURL = "https://leoriscodev.netlify.app/";
    switch (languagge){
        case "en":
            return baseURL + "es";
        case "es":
            return baseURL;
        default:
        return;
    };

}else {
        baseURL = "http://localhost:4321/";

        switch (languagge){
        case "en":
            return baseURL + "es";
        case "es":
            return baseURL;
        default:
        return;
    }
    }
}
---
<div class = "switchLanguageContainer">
        <a class = "switchLanguageAnchor" href = {resultado()}>
        {buttonTitle()}
        </a>

</div>
<style>
    .switchLanguageContainer{
        background-color: rgb(95, 95, 95);
        padding: 1vh;
        margin: 1.5vh;
        cursor: pointer;
        border-radius: 0.1rem;
        border-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .switchLanguageAnchor{
        color: rgb(220, 220, 220);
        font-size: 13px;
    }
    .switchLanguageContainer:hover{
        box-shadow: 0px 0px 10px 1px black;
        transition: 0.5s;

        .switchLanguageAnchor{
            color: white
            transition: 0.5s;
        }

    }
</style>