---
import i18next, { t, changeLanguage } from "i18next";
const { isDeployed } = Astro.props;
const { languagge } = Astro.props;

const buttonTitle = () => {
    if (languagge == "en"){
        return "Traducir al Español"
    } else if ( languagge == "es"){
        return "Translate to English"
    }
}
const resultado = () => {
    let baseURL = null;
    if(isDeployed){
        baseURL = "https://leoriscodev.netlify.app/";
    switch (languagge){
        case "en":
            return baseURL + "es";
        case "es":
            return baseURL;
        default:
        return;
    };

}else {
        baseURL = "http://localhost:4321/";

        switch (languagge){
        case "en":
            return baseURL + "es";
        case "es":
            return baseURL;
        default:
        return;
    }
    }
}
---
<div class = "switchLanguageContainer">
        <a class = "switchLanguageAnchor" href = {resultado()}>
        {buttonTitle()}
        </a>

</div>